/* body
{
    background-image: image('images/bike.jpg');
}
img
{
    height: 80%;
    width: 100%;
    position: relative;
}
.head
{
    position: absolute;
    top: 5em;
    left: 6em;
    font-size: 40px;
    color: white;
    border: 2px solid black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */

.one 
{
    background-color: red;
    height: 5em;
    width: 5em;
    font-size: 30px;
    border-radius: 50px;
    position: relative;
    margin-bottom: 10px;
}
.nested
{
    display: grid
    border: 1px solid black;
    border-radius: 100px;   
    height: 20px;
    width: 20px;
    background-color: white;
    position: absolute;  
    left: 60px;  
    bottom: 70px;
   

}
.two
{
    position: relative;
    background-color: red;
    height: 5em;
    width: 5em;
    font-size: 30px;
    border-radius: 50px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.nested_two
{
    background-color: white;
    border-radius: 100px;
    height: 1em;
    width: 1em;
    position: absolute;
    bottom: 70px;
    left: 40px;

}
.nested_two02
{
    position: absolute;
    background-color:wheat;
    border-radius: 100px;
    height: 1em;
    width: 1em;
    left: 80px;
    bottom: 70px;
}